* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #eceaeaa1;
  overflow: hidden;
  height: auto;
  overflow-y: auto;
}

main {
  overflow: hidden;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  background: #333;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(245, 165, 165, 0.5);
}

.bars a {
  color: white;
  text-decoration: none;
  padding-right: 3rem;
  font-size: 20px;
  font-weight: bold;
}

.bars :hover {
  text-decoration: overline;
  color: black;
}

.login-btn {
  background: #292828;

  color: white;
  border: none;
  padding: 10px 20px;
  position: absolute;
  right: 7%;
  top: 15%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.notice {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: black;
  background: hsl(210, 14%, 97%);
  font-size: 20px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border: #292828 1px;
  width: 80%;
  border-radius: 10px;
}

.notice h1 {
  color: red;
  text-align: left;
  font-size: xx-large;
  /* margin-top: 60px; */
}

.notice p {
  color: blue;
  font-size: x-large;
  text-align: start;
}


.box-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.box-1 {
  margin: 10px;
  width: 200px;
  height: 200px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.box-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.box-container :hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.box-2 {
  margin: 10px;
  width: 200px;
  height: 200px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popular-service {
  color: rgb(35, 33, 33);
  text-align: center;
  margin-left: 32%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

span {
  font-size: 30px;
  background: #fff;
  text-decoration: solid;
  padding: 0 10px;
  color: brown;
  box-shadow: 5px 5px 15px rgba(1, 1, 1, 1);
  border-radius: 6px;

}
.customer-feedback {
 color: rgb(236, 233, 233);
  text-align: center;
  margin-left: 32%;
  width: 100%;
 
  text-align: center;
  border-bottom: 1px solid #c8bfbf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
